:root {
  --body-text-color: #757575;
  --logo-black-color: #000000;
  --logo-blue-color: #2196f3;
  --blue-color: #2196f3;
  --hover-focus-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #212121;
  --background-footer-color: #2f303a;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --background-team-color: #f5f4fa;
  --background-btn-portfolio-color: #f5f4fa;
  --button-hero-hover-color: #188ce8;
  --header-line-color: #ececec;
  --portfolio-cards-background-color: #fff;
  --portfolio-border-solid-color: #eeeeee;
  --background-color-icon: #f5f4fa;
}

body {
  background-color: var(--white-color);
  color: var(--body-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hero-hover-color);
}
/*  */

.button-portfolio {
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--black-color);
  background-color: var(--background-btn-portfolio-color);
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
}
.button-hero {
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--hover-focus-color);
  color: var(--white-color);
}

/* heder */
.logo {
  color: var(--logo-black-color);
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.24;
}
.color-blue-logo {
  color: var(--logo-blue-color);
}
.site-nav .link {
  color: var(--black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-focus-color);
}

.contact .link {
  color: var(--body-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--hover-focus-color);
}

/* стилизация main */

.hero {
  background-color: var(--background-footer-color);
  color: var(--white-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.spesials-title {
  color: var(--black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.spesials p {
  line-height: 1.71;
}

.team-title,
.doing-title {
  color: var(--black-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.team {
  background-color: var(--background-team-color);
}
.team-cards-background {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team p {
  line-height: 1.19;
  font-weight: 400;
  text-align: center;
}

.name {
  color: var(--black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.clients h2 {
  font-weight: 700;
  color: var(--black-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* footer */

.footer {
  background-color: var(--background-footer-color);
}
.color-white {
  color: var(--white-color);
}

.footer .link {
  color: var(--footer-link-color);
}

.footer .link:hover,
.footer .link:focus {
  color: var(--hover-focus-color);
}
.footer .link {
  display: inline-block;
  margin-top: 9px;
}
.footer .link.logo {
  margin-top: 0;
  margin-right: 0;
}
.footer p,
.footer .link {
  line-height: 1.71;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}
.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* margin-left: 24px;
  margin-bottom: 20px; */
}
.portfolio h3 {
  margin-bottom: 4px;
}

.portfolio-cards-background {
  background: var(--portfolio-cards-background-color);
  /* border: 1px solid var(--portfolio-border-solid-color); */
}
.portfolio .border {
  border: 1px solid var(--portfolio-border-solid-color);
  padding: 20px 24px;
}

/* раазмещение элементов */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px; /* посмотрели на размер сетки, обязательно считаем с крайними падингами 1170+15+15 */
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}
h1,
h2,
h3 {
  margin-top: 0px; /* убрали внешние отступы у заголовка для верстки */
  margin-bottom: 0px; /* убрали внешние отступы у заголовка для верстки */
}
ul {
  padding: 0; /* убрали внешние и внутренние отступы у списков для верстки */
  margin: 0; /* убрали внешние и внутренние отступы у списков для верстки */
}
p {
  margin-top: 0px; /* убрали внешние отступы у заголовка для верстки */
  margin-bottom: 0px; /* убрали внешние отступы у заголовка для верстки */
}

img,
.logo {
  display: block;
}

.header {
  border-bottom: 1px solid var(--header-line-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .container {
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.site-nav .list {
  display: flex;
}
.site-nav .link,
.contact .link {
  padding-top: 20px;
  padding-bottom: 20px;
}
.site-nav {
  align-items: center;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  margin-right: 93px;
}
.contact.list {
  margin-left: auto;
}

.contact.list,
.header .container,
.site-nav {
  display: flex;
}
.contact .item:not(:last-child) {
  margin-right: 50px;
}

.spesials.section {
  padding-top: 94px;
  padding-bottom: 0;
}

.hero-title {
  margin-bottom: 30px;
}

.spesials h3,
.team h3 {
  margin-bottom: 10px;
}
.doing-title,
.team-title {
  margin-bottom: 50px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-bottom: 20px;
}

/* portfolio */
.nav-portfolio .container {
  margin-bottom: 50px;
}

/* спрятали элемент из разметки */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.spesials .list,
.busyness .list,
.team .list {
  display: flex;
}
.spesials .item:not(:last-child),
.busyness .item:not(:last-child) {
  margin-right: 30px;
}
.spesials .item {
  width: 270px;
}

.team h2 {
  font-weight: 700;
  color: var(--black-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team .item:not(:last-child) {
  margin-right: 30px;
}
.team .name {
  text-align: center;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 16px;
}

/* ------------------------размещение портфолио */

.hero.section {
  padding-bottom: 200px;
  padding-top: 200px;
}

.nav-portfolio .list {
  display: flex;
  justify-content: center;
}

.nav-portfolio .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio .list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio .item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* добавление элементов фона */

.item.icon-email::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 12px;
  background-image: url(../img/svg/header/email.svg);
  background-repeat: no-repeat;
  margin-right: 10px;
}
.item.icon-tel::before {
  content: "";
  display: inline-flex;
  width: 10px;
  height: 16px;
  background-image: url("../img/svg/header/smartphone.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
}
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background/people.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.item.icon-antena::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-icon);
  outline: 1px solid red;
  background-image: url("../img/svg/page-index/antenna\ .svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.item.icon-clock::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  background-color: var(--background-color-icon);
  outline: 1px solid red;
  background-image: url("../img/svg/page-index/clock\ .svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.item.icon-plan::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  background-color: var(--background-color-icon);
  outline: 1px solid red;
  background-image: url("../img/svg/page-index/diagram\ .svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.item.icon-tecnology::before {
  content: "";
  display: block;
  height: 120px;
  width: 270px;
  background-color: var(--background-color-icon);
  outline: 1px solid red;
  background-image: url("../img/svg/page-index/astronaut.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.client-1::before {
  content: "";
  display: block;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  background-image: url(../img/svg/page-index/clients/client1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.client-2::before {
  content: "";
  display: block;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  background-image: url(../img/svg/page-index/clients/client2.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.client-3::before {
  content: "";
  display: block;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  background-image: url(../img/svg/page-index/clients/client3.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.client-4::before {
  content: "";
  display: block;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  background-image: url(../img/svg/page-index/clients/client4.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.client-5::before {
  content: "";
  display: block;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  background-image: url(../img/svg/page-index/clients/client5.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.client-6::before {
  content: "";
  display: block;
  height: 92px;
  width: 170px;
  border: 1px solid #afb1b8;
  background-image: url(../img/svg/page-index/clients/client6.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.clients .list {
  display: flex;
  justify-content: space-between;
}
/* team */
.social-container {
  width: 206px;
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 30px;
}
.social-list {
  list-style: none;
  display: flex;
}
.social-list li:not(:last-child) {
  margin-right: 10px;
}
.icon-instagram::before {
  content: "";
  display: block;
  height: 44px;
  width: 44px;
  outline: 1px solid red;
  background-image: url(../img/svg/page-index/social/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-twitter::before {
  content: "";
  display: block;
  height: 44px;
  width: 44px;
  outline: 1px solid red;
  background-image: url(../img/svg/page-index/social/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-facebook::before {
  content: "";
  display: block;
  height: 44px;
  width: 44px;
  outline: 1px solid red;
  background-image: url(../img/svg/page-index/social/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-linkedin::before {
  content: "";
  display: block;
  height: 44px;
  width: 44px;
  outline: 1px solid red;
  background-image: url(../img/svg/page-index/social/linkedin.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.team .list.social {
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}
/* footer */
footer ul {
  list-style: none;
}
footer .content,
footer .social-list {
  display: flex;
}

.footer-instagram::before {
  content: "";
  display: block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../img/svg/footer/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.footer-twitter::before {
  content: "";
  display: block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../img/svg/footer/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.footer-facebook::before {
  content: "";
  display: block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../img/svg/footer/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.footer-linkedin::before {
  content: "";
  display: block;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  background-image: url(../img/svg/footer/linkedin.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
footer .social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}
footer .content2 {
  margin-top: 15px;
  margin-left: 70px;
}
.icon {
  height: 16px;
  width: 16px;
  fill: #000000;
}
